<label class="checkbox-container">
    <input
        class="checkbox-input"
        type="checkbox"
        [checked]="isChecked"
        (click)="onClick()"
    />
    <div
        class="checkbox-border"
        [ngStyle]="{ 'background-color': isChecked ? 'green' : 'transparent' }"
    >
        <mat-icon
            class="checkbox-filling"
            *ngIf="isChecked"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="done"
        ></mat-icon>
    </div>
    <ng-content> </ng-content>
</label>
