<div class="list-container">
    <ul>
        <li *ngFor="let task of tasks">
            <app-checkbox
                [isChecked]="task.isDone"
                aria-checked="task.isDone"
                [attr.aria-labelledby]="
                    'Click to toggle task status with description' + task.title
                "
                (toggle)="toggleDone(task.id)"
            ></app-checkbox>
            {{ task.title }}
            <button
                class="delete-task"
                [attr.aria-labelledby]="'Delete task with value' + task.title"
                (click)="deleteTask(task.id)"
            >
                <mat-icon class="delete-icon" fontIcon="delete"></mat-icon>
            </button>
        </li>
    </ul>
</div>
