<div class="list-container">
    <ul>
        <li *ngFor="let task of displayedTasks">
            <app-checkbox
                [isChecked]="task.isDone"
                aria-checked="task.isDone"
                [attr.aria-labelledby]="
                    'Click to toggle task status with description' + task.title
                "
                (toggle)="toggleDone(task.id)"
            ></app-checkbox>
            {{ task.title }}
            <button
                class="delete-task"
                [attr.aria-labelledby]="'Delete task with value' + task.title"
                (click)="deleteTask(task.id)"
            >
                <mat-icon class="delete-icon" fontIcon="delete"></mat-icon>
            </button>
        </li>
        <li class="empty-list" *ngIf="displayedTasks.length === 0">
            There are no tasks to display
        </li>
    </ul>
    <div class="pagination-container">
        <app-pagination-control
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            [pageSize]="itemsPerPage"
            [totalResults]="totalResults"
            (pageChanged)="onPageChanged($event)"
            (pageSizeChange)="onPageSizeChange($event)"
        >
        </app-pagination-control>
    </div>
</div>
