<div class="pagination-control">
    <div class="total-results">{{ totalResults }} Tasks</div>

    <div class="page-navigation">
        <button
            class="nav-button"
            aria-label="navigate to previous page"
            id="previuos-page"
            (click)="onPrevious()"
            [disabled]="currentPage <= 1"
        >
            <mat-icon
                aria-hidden="false"
                aria-label="Navigate to previous page"
                fontIcon="navigate_before"
            ></mat-icon>
        </button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button
            class="nav-button"
            id="next-page"
            aria-label="navigate to next page"
            (click)="onNext()"
            [disabled]="currentPage >= totalPages"
        >
            <mat-icon
                aria-hidden="false"
                aria-label="Navigate to next page"
                fontIcon="navigate_next"
            ></mat-icon>
        </button>
    </div>

    <div class="page-size">
        <select
            id="page-selector"
            class="custom-select"
            name="page-selector"
            aria-label="select page size"
            (change)="onPageSizeChange($event)"
        >
            <option class="size-value" value="5">5</option>
            <option class="size-value" value="10">10</option>
            <option class="size-value" value="20">20</option>
        </select>
    </div>
</div>
