.pagination-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
}

.total-results,
.page-navigation,
.page-size {
    display: inline-block;
}

.page-size select {
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid #ddd;
}

.nav-button {
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    background-color: white;
    &:disabled {
        cursor: not-allowed;
        color: #555555;
        background-color: #e4e4e4;
    }
}
