<form class="form-container" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="task-container">
        <div class="task-input-container">
            <input
                class="task-input"
                formControlName="title"
                placeholder="Add new task"
                maxlength="80"
            />

            <div class="task-input-info">
                <span class="input-message">
                    @if (
                        taskForm.controls.title.value &&
                        taskForm.controls.title.value.length < 3
                    ) {
                        <span>* Min length 3 chars</span>
                    }
                </span>
                <span class="input-counter">
                    {{ title?.value?.length || 0 }}/80
                </span>
            </div>
        </div>
        <div class="task-button-container">
            <button
                class="task-button"
                type="submit"
                aria-label="Add new task"
                [disabled]="!taskForm.valid"
            >
                Add
            </button>
        </div>
    </div>
</form>
